<form class="defense-roll-dialog">
  {{> attack-info}}

  <div class="form-group">
    <span class="defense-stat"
      >{{localize "sr4.stats.REACTION"}}: {{ reaction }}</span
    >
  </div>

  {{> wide-burst-malus}}

  {{#if isMelee}}
  {{#if meleeSkills.length}}
  {{> skill-select id="skill1" name="skill1" labelKey="sr4.defense.skill1" skills=meleeSkills}}
  {{> skill-select id="skill2" name="skill2" labelKey="sr4.defense.skill2" skills=meleeSkills}}
  {{/if}}

  {{else}}
  {{#if rangedSkills.length}}
  {{> skill-select id="skill1" name="skill1" labelKey="sr4.defense.skill" skills=rangedSkills}}
  {{/if}}
  {{/if}}

  {{> bonus-input}}
  {{> malus-input}}
  {{> specialization-checkbox}}
  {{> edge-checkbox}}
</form>
