<form class="defense-roll-dialog drone-roll-dialog">
  {{> attack-info}}

  {{> wide-burst-malus}}

  {{> control-mode-select}}
  {{> rigger-skill-select}}
  {{> pool-breakdown}}

  {{> bonus-input}}
  {{> malus-input}}
  {{> specialization-checkbox}}
  {{> edge-checkbox}}
</form>
