<form class="skill-roll-dialog drone-roll-dialog">
  {{> control-mode-select}}
  {{> pool-breakdown}}

  {{> bonus-input}}
  {{> malus-input}}
  {{> fire-mode-selector}}
  {{> specialization-checkbox}}
  {{> smartlink-checkbox}}
  {{> edge-checkbox}}
</form>
