<form class="skill-roll-dialog">
  {{> bonus-input}}
  {{> malus-input}}

  <div class="form-group">
    <label for="reachModifier">{{localize "sr4.weapon.reachModifier"}}</label>
    <input type="number" id="reachModifier" name="reachModifier" value="{{ reachModifier }}" readonly />
  </div>

  {{> specialization-checkbox}}
  {{> edge-checkbox}}
</form>
