<form>
  <div class="form-group">
    <label for="numDice">{{localize "sr4.roll.amount"}}:</label>
    <input
      type="number"
      id="numDice"
      name="numDice"
      value="1"
      min="1"
      max="20"
    />
  </div>
  <div class="form-group">
    <label for="explode">{{localize "sr4.roll.explode"}}:</label>
    <input type="checkbox" class="sr4-checkbox" id="explode" name="explode" />
  </div>
</form>
