<form class="skill-roll-dialog">
  {{> bonus-input}}
  {{> malus-input}}
  {{> specialization-checkbox}}
  <div class="form-group">
    <label for="extended">{{localize "sr4.roll.extended"}}</label>
    <input type="checkbox" class="sr4-checkbox" id="extended" name="extended" />
  </div>
  {{> edge-checkbox}}
</form>
