<div class="form-group attack-info">
  <span
    >{{ attackerName }} · {{ weaponName }} ·
    {{#unless hideSuccesses}}
    {{localize "sr4.defense.attackSuccesses"}}: {{ attackSuccesses }}
    {{/unless}}</span
  >
</div>
