<details class="inventory-section collapsible-section" open>
  <summary class="collapsible-header">
    <i class="fas fa-chevron-right collapse-icon"></i>
    <h3>{{title}}</h3>
  </summary>
  {{> @partial-block}}
</details>
