{{#if edgeAvailable}}
<div class="form-group">
  <label for="edge">
    {{localize "sr4.roll.useEdge"}}
    {{> tooltip text=(localize "sr4.tooltip.edge")}}
  </label>
  <input type="checkbox" class="sr4-checkbox" id="edge" name="edge" />
  <span class="edge-count"
    >({{localize "sr4.stats.CURRENTEDGE"}}: {{ currentEdge }})</span
  >
</div>
{{/if}}
