<button type="button" class="item-create-btn"
  data-action="{{btnAction}}"
  {{#if btnItemType}}data-item-type="{{btnItemType}}"{{/if}}
  {{#if btnItemSubtype}}data-item-subtype="{{btnItemSubtype}}"{{/if}}
  {{#if btnTooltip}}title="{{localize btnTooltip}}"{{/if}}>
  <i class="fas fa-plus"></i>
</button>
