<button type="button" class="item-create-btn"
  data-action="{{btnAction}}"
  {{#if btnItemType}}data-item-type="{{btnItemType}}"{{/if}}
  {{#if btnItemSubtype}}data-item-subtype="{{btnItemSubtype}}"{{/if}}
  {{#if btnTooltip}}data-tooltip="{{localize btnTooltip}}"{{/if}}
  {{#if btnDisabled}}disabled{{/if}}>
  <i class="fas fa-plus"></i>
</button>
