<button type="button" class="item-delete"
  data-action="deleteItem"
  {{#if itemId}}data-item-id="{{itemId}}"{{/if}}
  data-tooltip="{{localize 'sr4.item.delete'}}">
  <i class="fas fa-trash"></i>
</button>
