<button type="button" class="item-edit"
  data-action="editItem"
  {{#if itemId}}data-item-id="{{itemId}}"{{/if}}
  data-tooltip="{{localize 'sr4.item.edit'}}">
  <i class="fas fa-edit"></i>
</button>
