<div class="form-group">
  <label for="specialization">
    {{localize "sr4.roll.specialization"}}
    {{> tooltip text=(localize "sr4.tooltip.specialization")}}
  </label>
  <input type="checkbox" class="sr4-checkbox" id="specialization" name="specialization" />
</div>
