<form class="skill-roll-dialog">
  {{> bonus-input}}
  {{> malus-input}}
  {{> specialization-checkbox}}
  {{> smartlink-checkbox}}
  <div class="form-group">
    <label for="extended">{{localize "sr4.roll.extended"}}</label>
    <input type="checkbox" id="extended" name="extended" />
  </div>
  {{> edge-checkbox}}
  <input type="hidden" id="maxEdge" value="{{ maxEdge }}" />
</form>
