<div class="edit-mode-toggle">
  <i class="fas fa-edit"></i> <!-- Stift-Icon für Bearbeiten -->
  <label class="switch">
    <input type="checkbox" id="edit-mode-toggle" {{#if system.editMode}}checked{{/if}}>
    <span class="slider round"></span>
  </label>
</div>
