.skill-roll-dialog {
  #bonus,
  #malus {
    max-width: 5rem;
    text-align: right;
  }

  input {
    margin-right: 1rem;
  }
}

.edge-use-button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.ammo-remaining {
  color: var(--sr4-border-dim);
  font-size: 0.85em;
  white-space: nowrap;
}
