@use '../../../styles/mixins' as *;

/* metadata.css */

.metadata-container {
  .actor-image {
    @include sr4-actor-image;
  }
  .character-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

.metadata-container,
.tab.bio {
  .info-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
    min-width: 300px;
  }

  .meta-field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 calc(29% - 1rem);

    label {
      flex: 1 1;
      max-width: 50%;
      min-width: 10rem;
    }

    input {
      max-width: 30rem;
    }
  }
}

.tab.bio {
  section + hr {
    margin: 1rem 0;
  }

  .bio-text .item-textareas textarea {
    min-height: 140px;
  }
}

.connections-table {
  @include sr4-data-table;
  @include sr4-table-inputs;

  .num-col {
    width: 6rem;
  }

  .type-col {
    width: 9rem;
  }

  .controls-col {
    width: 2rem;
  }

  .empty-list {
    text-align: center;
    color: var(--sr4-border-dim);
    font-style: italic;
  }

  .item-controls a {
    @include sr4-icon-btn;
    @include sr4-delete-hover;
  }
}
