{{#if smartlinkAvailable}}
<div class="form-group">
  <label for="smartlink">{{localize "sr4.roll.smartlink"}}</label>
  <input type="checkbox" id="smartlink" name="smartlink" {{#if smartlinkChecked}}checked{{/if}} />
</div>
{{/if}}