<div class="monitor-tracks">
  {{#if showSimpleHpToggle}}
  <label class="simple-hp-toggle">
    <input type="checkbox" class="sr4-checkbox" name="system.simpleHp" {{#if system.simpleHp}}checked{{/if}} />
    {{localize 'sr4.conditionMonitor.simpleHp'}}
  </label>
  {{/if}}

  {{> "status-track-card"
      title="sr4.conditionMonitor.physical"
      type="physical"
      max=(add system.conditionMonitor.physical.max system.derivedStats.overflow)
      overflowStart=system.conditionMonitor.physical.max
      current=system.conditionMonitor.physical.value}}

  {{#unless system.simpleHp}}
  {{> "status-track-card"
      title="sr4.conditionMonitor.stun"
      type="stun"
      max=system.conditionMonitor.stun.max
      current=system.conditionMonitor.stun.value}}
  {{/unless}}
</div>
