
  <div class="item-sheet-body">

    {{> "item-sheet-header" nameKey="sr4.item.name"}}

    <table class="item-stats-table">
      <thead>
        <tr>
          <th>{{localize 'sr4.power.source'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" name="system.source" value="{{ system.source }}" /></td>
        </tr>
      </tbody>
    </table>

    {{> "item-actions-effects"}}

    {{> "item-textareas"}}

  </div>
