<div class="sheet-container">

  <div class="npc-header">
    {{> "actor-image"}}
    <div class="npc-header-info">
      {{> meta-field label="sr4.spirit.name" name="name" value=actor.name editMode=editMode}}
      {{> meta-field label="sr4.spirit.type" name="system.spiritType" value=system.spiritType editMode=editMode}}
      {{> meta-field label="sr4.spirit.force" name="system.force" value=system.force numeric=true editMode=editMode}}
      <div class="meta-field">
        <label>{{localize 'sr4.spirit.services'}}</label>
        <input type="number" name="system.services" value="{{system.services}}" />
      </div>
      {{> meta-field label="sr4.item.source" name="system.source" value=system.source editMode=editMode}}
    </div>
  </div>

  {{> "actor-link-row"
      linkLabel="sr4.spirit.summoner"
      dropType="ownerUuid"
      linkedName=ownerName
      clearAction="clearOwner"
      dropHint="sr4.spirit.dropSummoner"}}

  <hr />

  <h3>{{localize 'sr4.spirit.attributes'}}</h3>
  <div class="grid">
    {{#each sheetStats as |stat|}}
      {{> "attribute-cell" label=stat.label name=stat.name value=stat.value sourceValue=stat.sourceValue rollLabel=stat.rollLabel}}
    {{/each}}
  </div>

  <hr />

  {{> "monitor-tracks"}}

  <hr />

  {{> "critter-powers" critterPowers=critterPowers editMode=editMode}}

  {{> "npc-skills-section" skills=skills emptyKey="sr4.spirit.noSkills"}}

  {{> "npc-notes"}}

</div>
