<form class="direct-spell-resist-dialog">
  {{> spell-force-header}}
  <div class="form-group">
    <span>{{localize "sr4.spell.cast"}}: <strong>{{ castingHits }}</strong> · {{ resistAttrLabel }}: <strong>{{ resistPool }}</strong></span>
  </div>
  {{> bonus-input}}
  {{> malus-input}}
  {{> edge-checkbox}}
</form>
