<header class="item-sheet-header">
  <img class="item-sheet-img" data-edit="img" src="{{ item.img }}" alt="{{ item.name }}" />
  <div class="item-sheet-name">
    <label>{{localize nameKey}}</label>
    <input type="text" name="name" value="{{ item.name }}" />
  </div>
  {{#if @partial-block}}
  <div class="item-sheet-header-extras">
    {{> @partial-block}}
  </div>
  {{/if}}
</header>
