<div class="form-group">
  <label for="force">{{localize "sr4.spell.force"}}</label>
  <input
    type="number"
    id="force"
    name="force"
    min="1"
    max="{{ max }}"
    value="{{ magic }}"
  />
  <span class="hint">Max: {{ max }}</span>
</div>
