<div
  class="item-card item ammo-card"
  data-item-id="{{ this._id }}"
  id="{{ this._id }}"
>
  {{> item-card-header}}
  <div class="item-body">
    {{> ammo-stats this=this}}
    <input class="item-quantity" type="number" name="system.quantity" value="{{ this.system.quantity }}" data-dtype="Number" />
  </div>
</div>
